<h1>Textbox Events</h1>

<div class="d-flex flex-row gap-2">
    <div class="card card-style p-2" style="width: 25rem;">
        <div class="card-body form-group">
            <h5 class="card-title">UserName</h5>
            <input type="text" name="name" id="txtName" placeholder="First Name" class="form-control">
        </div>

    </div>
    <div class="card card-style p-2" style="width: 25rem;">
        <div class="card-body form-group">
            <h5 class="card-title">Password</h5>
            <input type="password" name="name" id="txtPwd" placeholder="Password" class="form-control">
        </div>

    </div>
    <div class="card card-style p-2" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">Disabled</h5>
            <input type="text" name="name" id="txtDbld" placeholder="disabled" disabled class="form-control">
        </div>

    </div>

</div>
<div class="d-flex flex-row gap-2 mrg-top-20">
    <div class="card card-style p-2" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">mouseover event, move the mouse on button to change bg color</h5>
            <button type="button" class="btn btn-outline-primary" id="btn-hoverStyle"><i class="bi bi-arrow-right"></i>
                Hover
            </button>
        </div>

    </div>
    <div class="card card-style p-2" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">Find position of button</h5>
            <button type="button" class="btn btn-primary" id="btn-position"><i class="bi bi-search"></i> Submit
            </button>
        </div>

    </div>
    <div class="card card-style p-2" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">Find color of reset button</h5>
            <button type="button" class="btn btn-secondary" id="btn-color"><i class="bi bi-eyedropper"></i> Reset
            </button>
        </div>

    </div>
</div>
<div class="d-flex gap-2 mrg-top-20">
    <div class="card card-style">
        <div class="card-body">
            <h5 class="card-title">Differnt types of button</h5>
            <button type="button" class="btn btn-primary p-2 m-2">Primary</button>
            <button type="button" class="btn btn-secondary m-2">Secondary</button>
            <button type="button" class="btn btn-success m-2">Success</button>
            <button type="button" class="btn btn-danger m-2">Danger</button>
            <button type="button" class="btn btn-warning m-2">Warning</button>
            <button type="button" class="btn btn-info m-2">Info</button>
            <button type="button" class="btn btn-light m-2">Light</button>
            <button type="button" class="btn btn-dark m-2">Dark</button>

            <button type="button" class="btn btn-link">Link</button>
        </div>
    </div>
</div>